body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Roboto";
}

h2 {
  color: white;
}

header {
  margin: 0;
  padding: 30px;
  color: white;

  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/images/sao-paulo2.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.btn-outline-success {
  color: white;
}

.hero-text-box {
  /* position: absolute; */
  /* width: 1140px; */
  margin-top: 25%;
  /* left: 50%; */
  /* -webkit-transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
}

#footer {
  background-image: url(/images/sao-paulo3.jpg);
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 5px red;
  padding: 20px 0;
}

.authorStyle{
  color: rgb(236, 199, 199);
  text-decoration: underline;
}

.title-padding {
  padding: 40px 0;
}

#contact-us {
  background-color: rgb(153, 153, 127);
}
